/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-weight: bold;
}
span.rvts12 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts13, span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts14
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts15
{
 color: #212121;
}
span.rvts16
{
 color: #000000;
}
span.rvts17
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts18
{
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts19
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
 color: #212121;
}
a.rvts20, span.rvts20
{
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts21
{
 font-weight: bold;
 color: #000000;
}
span.rvts22
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts23
{
 font-weight: bold;
 text-decoration: underline;
}
span.rvts24
{
 font-style: italic;
}
span.rvts25
{
}
span.rvts26
{
 font-size: 16pt;
 font-weight: bold;
}
span.rvts27
{
 font-size: 16pt;
 font-weight: bold;
}
span.rvts28
{
 font-size: 11pt;
}
a.rvts29, span.rvts29
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts30
{
 font-size: 11pt;
 font-weight: bold;
}
span.rvts31
{
}
span.rvts32
{
 font-weight: bold;
}
span.rvts33
{
 font-style: italic;
 font-weight: bold;
}
span.rvts34
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
}
span.rvts35
{
 font-size: 11pt;
 font-weight: bold;
}
span.rvts36
{
 font-size: 11pt;
}
span.rvts37
{
 font-size: 11pt;
}
span.rvts38
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 background-color: #cdffcd;
}
span.rvts39
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts40
{
 font-size: 11pt;
 font-style: italic;
}
a.rvts41, span.rvts41
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts42, span.rvts42
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: none;
}
span.rvts43
{
 font-size: 11pt;
 color: #0000ff;
}
span.rvts44
{
 font-size: 11pt;
 text-decoration: underline;
}
span.rvts45
{
 font-size: 11pt;
}
span.rvts46
{
 font-size: 11pt;
 font-style: italic;
 text-decoration: underline;
}
span.rvts47
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts48
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 background-color: #cdffcd;
}
a.rvts49, span.rvts49
{
 font-size: 11pt;
 text-decoration: none;
}
span.rvts50
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
 background-color: #cdffcd;
}
a.rvts51, span.rvts51
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts52
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts53
{
 font-size: 11pt;
 font-weight: bold;
 color: #ffffff;
 background-color: #00b050;
}
a.rvts54, span.rvts54
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts55
{
 font-size: 11pt;
 font-style: italic;
}
span.rvts56
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts57
{
 font-size: 11pt;
 font-weight: bold;
}
span.rvts58
{
 font-size: 11pt;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts59
{
 font-size: 11pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
}
span.rvts60
{
 font-size: 11pt;
 font-weight: bold;
}
span.rvts61
{
 font-size: 11pt;
}
span.rvts62
{
 font-weight: bold;
 text-decoration: underline;
}
span.rvts63
{
 font-size: 11pt;
 background-color: #ffff00;
}
span.rvts64
{
 font-size: 11pt;
 color: #ff0000;
}
span.rvts65
{
}
a.rvts66, span.rvts66
{
 font-size: 11pt;
 font-weight: bold;
 color: #254162;
 text-decoration: none;
}
a.rvts67, span.rvts67
{
 font-size: 11pt;
 font-weight: bold;
 color: #0f2640;
 text-decoration: none;
}
span.rvts68
{
 font-style: italic;
 font-weight: bold;
}
span.rvts69
{
 font-style: italic;
}
span.rvts70
{
 font-size: 11pt;
 font-style: italic;
 background-color: #cdffcd;
}
span.rvts71
{
 font-size: 11pt;
 background-color: #cdffcd;
}
span.rvts72
{
 font-size: 11pt;
 background-color: #00ffff;
}
span.rvts73
{
 font-size: 11pt;
 color: #000000;
}
span.rvts74
{
 font-size: 11pt;
 font-style: italic;
}
span.rvts75
{
 text-decoration: underline;
}
a.rvts76, span.rvts76
{
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts77
{
 background-color: #00ffff;
}
span.rvts78
{
 font-style: italic;
 text-decoration: underline;
}
a.rvts79, span.rvts79
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts80
{
 font-size: 11pt;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts81
{
 font-size: 11pt;
 color: #0000ff;
}
span.rvts82
{
 font-size: 7pt;
 vertical-align: super;
}
span.rvts83
{
 font-weight: bold;
 color: #0000ff;
}
a.rvts84, span.rvts84
{
 font-weight: bold;
 color: #0000ff;
 text-decoration: none;
}
span.rvts85
{
 font-size: 11pt;
 color: #254162;
}
a.rvts86, span.rvts86
{
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts87, span.rvts87
{
 font-weight: bold;
 color: #0000ff;
 text-decoration: none;
}
span.rvts88
{
 text-decoration: underline;
}
span.rvts89
{
 font-style: italic;
 font-weight: bold;
 background-color: #cdffcd;
}
a.rvts90, span.rvts90
{
 font-weight: bold;
 color: #0f2640;
 text-decoration: none;
}
a.rvts91, span.rvts91
{
 text-decoration: none;
}
span.rvts92
{
 font-style: italic;
 font-weight: bold;
 background-color: #cdffcd;
}
span.rvts93
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
}
span.rvts94
{
 font-family: 'Times';
}
span.rvts95
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts96
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts97
{
 font-size: 12pt;
 font-style: italic;
}
span.rvts98
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
}
a.rvts99, span.rvts99
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: none;
}
span.rvts100
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
}
a.rvts101, span.rvts101
{
 font-size: 11pt;
 font-weight: bold;
 color: #17385f;
 text-decoration: none;
}
span.rvts102
{
 font-size: 11pt;
 font-weight: bold;
 color: #254162;
}
span.rvts103
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
}
a.rvts104, span.rvts104
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: none;
}
span.rvts105
{
 font-size: 11pt;
 text-decoration: underline;
}
a.rvts106, span.rvts106
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts107
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 background-color: #cdffcd;
}
span.rvts108
{
 font-size: 11pt;
 text-decoration: underline;
}
span.rvts109
{
 font-size: 10.5pt;
 font-family: '_[5µò';
 color: #0563c2;
}
a.rvts110, span.rvts110
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: none;
}
span.rvts111
{
 font-size: 10.5pt;
 font-family: '_[5µò';
 color: #0563c2;
}
span.rvts112
{
 font-size: 11pt;
 font-style: italic;
 color: #0000ff;
}
span.rvts113
{
 font-size: 11pt;
 font-style: italic;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts114
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #0000ff;
}
a.rvts115, span.rvts115
{
 text-decoration: none;
}
span.rvts116
{
 color: #0000ff;
}
span.rvts117
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 background-color: #cdffcd;
}
span.rvts118
{
 font-size: 11pt;
 text-decoration: underline;
}
a.rvts119, span.rvts119
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts120, span.rvts120
{
 font-weight: bold;
 color: #0f2640;
 text-decoration: none;
}
span.rvts121
{
 color: #000000;
}
span.rvts122
{
 font-style: italic;
 color: #000000;
}
span.rvts123
{
 color: #0000ff;
}
span.rvts124
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 background-color: #cdffcd;
}
span.rvts125
{
 font-size: 11pt;
 color: #000000;
 text-decoration: underline;
}
span.rvts126
{
 font-size: 11pt;
 background-color: #ffffff;
}
a.rvts127, span.rvts127
{
 font-size: 11pt;
 text-decoration: none;
}
a.rvts128, span.rvts128
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: none;
}
span.rvts129
{
 font-size: 11pt;
 font-style: italic;
 background-color: #ffffff;
}
span.rvts130
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 background-color: #ffffff;
}
span.rvts131
{
 font-size: 11pt;
 background-color: #ffffff;
}
span.rvts132
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 background-color: #ffffff;
}
span.rvts133
{
 font-size: 11pt;
 font-weight: bold;
 background-color: #ffffff;
}
span.rvts134
{
 font-size: 11pt;
 font-weight: bold;
 background-color: #ffffff;
 text-decoration: underline;
}
span.rvts135
{
 font-size: 11pt;
 color: #0000ff;
}
span.rvts136
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
}
span.rvts137
{
 font-size: 7pt;
 vertical-align: super;
}
span.rvts138
{
 font-size: 7pt;
 background-color: #ffffff;
 vertical-align: super;
}
span.rvts139
{
 font-size: 11pt;
 font-family: 'Lucida Grande';
 color: #000000;
}
span.rvts140
{
 font-size: 11pt;
 font-weight: bold;
 background-color: #cdffcd;
}
span.rvts141
{
 font-size: 11pt;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts142
{
 font-size: 12pt;
 text-decoration: underline;
}
a.rvts143, span.rvts143
{
 font-size: 11pt;
 font-weight: bold;
 color: #1f497d;
 text-decoration: none;
}
span.rvts144
{
 font-size: 11pt;
 font-weight: bold;
 color: #1f497d;
}
span.rvts145
{
 font-size: 12pt;
}
span.rvts146
{
 font-size: 8pt;
}
span.rvts147
{
 font-size: 8pt;
}
span.rvts148
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #0000ff;
}
a.rvts149, span.rvts149
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #0000ff;
 text-decoration: none;
}
a.rvts150, span.rvts150
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #254162;
 text-decoration: none;
}
span.rvts151
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #254162;
}
a.rvts152, span.rvts152
{
 font-size: 12pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: none;
}
span.rvts153
{
 font-size: 11pt;
 color: #17385f;
}
span.rvts154
{
 background-color: #ffff00;
}
span.rvts155
{
 font-style: italic;
 font-weight: bold;
 background-color: #ffff00;
}
a.rvts156, span.rvts156
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: none;
}
span.rvts157
{
 font-size: 12pt;
}
span.rvts158
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
 background-color: #ccffcc;
}
span.rvts159
{
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts160
{
 color: #0000ff;
}
span.rvts161
{
 color: #00b0f0;
}
span.rvts162
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts163
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
 text-transform: uppercase;
}
span.rvts164
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
}
a.rvts165, span.rvts165
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts166
{
 font-size: 11pt;
}
span.rvts167
{
 font-size: 11pt;
 font-style: italic;
 text-decoration: underline;
}
a.rvts168, span.rvts168
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts169
{
 font-size: 11pt;
 font-weight: bold;
 color: #ffffff;
 background-color: #00b050;
}
span.rvts170
{
 font-size: 11pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
}
span.rvts171
{
 font-size: 11pt;
 background-color: #ffff00;
}
span.rvts172
{
 font-size: 11pt;
 color: #ff0000;
}
a.rvts173, span.rvts173
{
 font-size: 11pt;
 font-weight: bold;
 color: #254162;
 text-decoration: none;
}
a.rvts174, span.rvts174
{
 font-size: 11pt;
 font-weight: bold;
 color: #0f2640;
 text-decoration: none;
}
span.rvts175
{
 font-size: 11pt;
 font-style: italic;
 background-color: #cdffcd;
}
span.rvts176
{
 font-size: 11pt;
 background-color: #cdffcd;
}
span.rvts177
{
 font-size: 11pt;
 background-color: #00ffff;
}
span.rvts178
{
 font-size: 11pt;
 color: #000000;
}
span.rvts179
{
 font-size: 11pt;
 color: #0000ff;
}
span.rvts180
{
 font-size: 11pt;
 color: #254162;
}
span.rvts181
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
}
span.rvts182
{
 font-family: 'Times';
}
span.rvts183
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts184
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 text-decoration: underline;
}
a.rvts185, span.rvts185
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: none;
}
span.rvts186
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
}
a.rvts187, span.rvts187
{
 font-size: 11pt;
 font-weight: bold;
 color: #17385f;
 text-decoration: none;
}
span.rvts188
{
 font-size: 11pt;
 font-weight: bold;
 color: #254162;
}
a.rvts189, span.rvts189
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: none;
}
span.rvts190
{
 font-size: 10.5pt;
 font-family: '_[5µò';
 color: #0563c2;
}
span.rvts191
{
 font-size: 11pt;
 font-style: italic;
 color: #0000ff;
}
span.rvts192
{
 font-size: 11pt;
 font-style: italic;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts193
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #0000ff;
}
span.rvts194
{
 font-size: 11pt;
 color: #000000;
 text-decoration: underline;
}
span.rvts195
{
 font-size: 11pt;
 font-family: 'Lucida Grande';
 color: #000000;
}
span.rvts196
{
 font-size: 11pt;
 font-weight: bold;
 background-color: #cdffcd;
}
a.rvts197, span.rvts197
{
 font-size: 11pt;
 font-weight: bold;
 color: #1f497d;
 text-decoration: none;
}
span.rvts198
{
 font-size: 11pt;
 font-weight: bold;
 color: #1f497d;
}
a.rvts199, span.rvts199
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #254162;
 text-decoration: none;
}
span.rvts200
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #254162;
}
span.rvts201
{
 font-size: 11pt;
 color: #17385f;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 text-align: left;
 text-indent: 0px;
 line-height: 1.10;
 break-after: avoid;
 background: #ffffff;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps6
{
 background: #ffffff;
}
.rvps7
{
 text-align: left;
 text-indent: 0px;
 line-height: 1.10;
 break-after: avoid;
 background: #ffffff;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps8
{
 background: #ffffff;
 margin: 16px 0px 0px 0px;
}
.rvps9
{
 background: #ffffff;
 margin: 0px 0px 0px 24px;
}
.rvps10
{
 text-align: left;
 text-indent: 0px;
 break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps11
{
}
.rvps12
{
 text-align: center;
 margin: 16px 0px 16px 0px;
}
.rvps13
{
 text-align: left;
 text-indent: 0px;
 break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps14
{
}
.rvps15
{
}
.rvps16
{
 text-indent: -12px;
 padding: 0px 0px 0px 12px;
 margin: 0px 0px 0px 1px;
}
.rvps17
{
 margin: 0px 0px 0px 6px;
}
.rvps18
{
 margin: 0px 0px 0px 49px;
}
.rvps19
{
 margin: 0px 0px 0px 7px;
}
.rvps20
{
 margin: 0px 0px 0px 48px;
}
.rvps21
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps22
{
 text-align: left;
 text-indent: 0px;
 break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps23
{
}
.rvps24
{
 margin: 0px 0px 0px 24px;
}
.rvps25
{
 text-indent: -24px;
 padding: 0px 0px 0px 24px;
}
.rvps26
{
}
.rvps27
{
 break-inside: avoid;
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 padding: 1px 5px 1px 5px;
}
.rvps28
{
 break-after: avoid;
}
.rvps29
{
 text-indent: -24px;
 padding: 0px 0px 0px 24px;
 margin: 0px 0px 0px 6px;
}
.rvps30
{
 break-after: avoid;
}
.rvps31
{
 text-align: center;
}
.rvps32
{
 margin: 0px 0px 0px 31px;
}
.rvps33
{
}
.rvps34
{
 margin: 0px 0px 0px 72px;
}
.rvps35
{
}
.rvps36
{
 text-indent: -24px;
 padding: 0px 0px 0px 24px;
 margin: 0px 0px 0px 72px;
}
.rvps37
{
}
.rvps38
{
 break-inside: avoid;
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 padding: 1px 0px 1px 5px;
}
.rvps39
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps40
{
 text-align: left;
 text-indent: 0px;
 break-inside: avoid;
 break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps41
{
 break-inside: avoid;
 break-after: avoid;
}
.rvps42
{
 margin: 0px 0px 0px 24px;
}
.rvps43
{
}
.rvps44
{
 margin: 0px 0px 8px 0px;
}
.rvps45
{
 margin: 0px 0px 8px 0px;
}
.rvps46
{
 margin: 0px 0px 0px 73px;
}
.rvps47
{
}
.rvps48
{
 margin: 0px 0px 0px 40px;
}
.rvps49
{
 margin: 0px 0px 0px 24px;
}
.rvps50
{
}
.rvps51
{
 text-align: center;
}
.rvps52
{
 margin: 0px 0px 0px 48px;
}
.rvps53
{
 margin: 0px 0px 0px 30px;
}
.rvps54
{
 text-indent: 48px;
 margin: 0px 0px 0px 96px;
}
.rvps55
{
}
.rvps56
{
 text-align: left;
 text-indent: 0px;
 break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps57
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 8px 0px 4px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: disc;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: ' ';}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: outside; list-style-type: ' ';}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: lower-alpha;}
.list9 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list10 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: outside;}
.list11 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list12 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list13 {text-indent: 0px; padding: 0; margin: 0 0 0 96px; list-style-position: outside; list-style-type: circle;}
.list14 {text-indent: 0px; padding: 0; margin: 0 0 0 -24px; list-style-position: outside;}
.list15 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: outside; list-style-type: circle;}
.list16 {text-indent: 0px; padding: 0; margin: 0 0 0 96px; list-style-position: outside; list-style-type: '🟃 ';}
.list17 {text-indent: 0px; padding: 0; margin: 0 0 0 90px; list-style-position: inside;}
.list18 {text-indent: 0px; padding: 0; margin: 0 0 0 -90px; list-style-position: inside; list-style-type: ' ';}
.list19 {text-indent: 0px; padding: 0; margin: 0 0 0 -24px; list-style-position: inside; list-style-type: ' ';}
.list20 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: ' ';}
.list21 {text-indent: 0px; padding: 0; margin: 0 0 0 110px; list-style-position: outside;}
.list22 {text-indent: 0px; padding: 0; margin: 0 0 0 -38px; list-style-position: outside;}
.list23 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: circle;}
.list24 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: square;}
.list25 {text-indent: 0px; padding: 0; margin: 0 0 0 6px; list-style-position: outside; list-style-type: circle;}
.list26 {text-indent: 0px; padding: 0; margin: 0 0 0 90px; list-style-position: outside; list-style-type: disc;}
.list27 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside;}
.list28 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: outside; list-style-type: disc;}
.list29 {text-indent: 0px; padding: 0; margin: 0 0 0 96px; list-style-position: outside; list-style-type: disc;}
.list30 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside; list-style-type: square;}
.list31 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: outside; list-style-type: square;}
.list32 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: '🞏 ';}
.list33 {text-indent: 0px; padding: 0; margin: 0 0 0 54px; list-style-position: outside; list-style-type: disc;}
.list34 {text-indent: 0px; padding: 0; margin: 0 0 0 18px; list-style-position: outside;}
.list35 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside; list-style-type: circle;}
.list36 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: inside; list-style-type: disc;}
.list37 {text-indent: 0px; padding: 0; margin: 0 0 0 78px; list-style-position: outside; list-style-type: circle;}
.list38 {text-indent: 0px; padding: 0; margin: 0 0 0 -6px; list-style-position: outside;}
.list39 {text-indent: 0px; padding: 0; margin: 0 0 0 62px; list-style-position: outside;}
.list40 {text-indent: 0px; padding: 0; margin: 0 0 0 -24px; list-style-position: outside; list-style-type: circle;}
.list41 {text-indent: 0px; padding: 0; margin: 0 0 0 120px; list-style-position: outside; list-style-type: disc;}
.list42 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: '🟃 ';}
.list43 {text-indent: 0px; padding: 0; margin: 0 0 0 96px; list-style-position: outside; list-style-type: square;}
.list44 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: 'ο ';}
.list45 {text-indent: 0px; padding: 0; margin: 0 0 0 120px; list-style-position: outside;}
.list46 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: '⮚ ';}
.list47 {text-indent: 0px; padding: 0; margin: 0 0 0 96px; list-style-position: outside;}
.list48 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: lower-alpha;}
.list49 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: lower-roman;}
.list50 {text-indent: 0px; padding: 0; margin: 0 0 0 49px; list-style-position: outside; list-style-type: disc;}
.list51 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: '🢭 ';}
.list52 {text-indent: 0px; padding: 0; margin: 0 0 0 100px; list-style-position: outside; list-style-type: circle;}
.list53 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside; list-style-type: lower-alpha;}
li.noindent { margin-left: 0; padding-left: 0; }
